# Jupyter Notebook
.ipynb_checkpoints

# Dataset
datasets/

# models
models/

# Project A
project_dnn/data/
project_dnn/check_util

# Project B
project_cnn/data/
project_cnn/check_util
project_cnn/saved
